html {
	margin:0;
    padding: 0 0 0 1px;
    height:100%;
    border-width:0;
    background-color:#EEEEEE;
}

body {
	/*margin:0 0 0 167px;*/
	margin:0 auto;
	color:#333333;
	font-family:"Calibri", tahoma, verdana, arial, serif;    
	position:relative;
	width:900px;
}
#main_login_block{
	margin: 25px auto 0pt; 
	float: left; 
	position: relative; 
	background-color: white; 
	height: 320px;
	width: 850px;
}
#center_login_block{
	margin: 70px auto 0pt 225px;
	float: left; 
	position: relative; 
	height: 200px; 
	background-color: #DDDDDD; 
	width: 375px;
}
#loginform{
	float: left; 
	margin-top: 10px; 
	margin-left: 21px;
	width:330px;
}
#login-page p {
	font-size:12px;
	margin:0 0 8px;
	color:#000000;
	font-size:14px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
	text-align:center;
}
#loginform p{
	text-align:left;
}
#login-page h3 {
	-x-system-font:none;
	color:#F2872F;
	font-family:'trebuchet ms';
	font-size:17px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:normal;
	margin:10px 130px 6px;
}
#login_feedback{
	font-size: 14px !important; 
	width: 350px; 
	margin-left: 21px !important; 
	margin-top: 0 !important; 
	margin-bottom: 0 !important;
}
#login_email{
	width:157px;
}
#password{
	width:160px;
}
#login_button{
	float:right;
	margin-top:5px;
}
#login_process{
	float:left;
	margin-top:3px;
}
.login_input{
    width:335px;
}